mixin sNUmbers(data)
	// start sNUmbers
	+b.SECTION.sNUmbers.section#sNUmbers&attributes(attributes)
		.container
			+b.section-title
				h2.text-success Проверенный временем и&nbsp;учениками способ заработка
				.h6 или немного цифр и фактов:
			.row
				.col-lg-6
					+e.block.bg-primary Более 300 активных учеников продолжают присылать отчеты  о&nbsp;полученной прибыли.
					+e.block.bg-info С&nbsp;января 2020 года  по&nbsp;сегодняшний день  не&nbsp;было ни&nbsp;одного убыточного месяца
				.col-lg-6
					+pic("screen-1.png",'',0)
					.fw-500.pb-3.pt-1 + 25 512 % - зафиксированная прибыль ученика в одной сделке
					+pic("screen-2.png",'',0)
					.fw-500.pb-3.pt-1 Рост депозита в&nbsp;100 раз за&nbsp;10&nbsp;месяцев&nbsp;&mdash; зафиксированный пример разгона депозита учеником
			h4.text-success.strong.mb-3 26&nbsp;зафиксированных за&nbsp;один день прибыльных сделок с&nbsp;доходностью от&nbsp;+33% до&nbsp;+600%! Текущий рекорд, зафиксированный Павлом Крёзом <br> в&nbsp;публичных сделках 28&nbsp;января 2021 года
			h6.pb-5 Смотрите, что пишут ученики о том, как растут их депозиты:
			+carusel('ex-1','ex-2','ex-3','ex-4','ex-5','ex-6','ex-7','ex-8','ex-9','ex-10')
			.text-center
				+btn("#sSteps2", 'Кликните здесь, чтобы получить доступ к обучению прямо сейчас' )
	// end sNUmbers