mixin sIterest(data)
	// start sIterest
	+b.SECTION.sIterest.section#sIterest&attributes(attributes)
		.container
			+b.section-title
				h2
					| Мы заинтересованы
					|
					br.d-none.d-sm-block
					span в Вашем результате!
			+e.row.row
				+e.txt-col.col-lg-8
					p Вы обратили внимание, что мы добавили в опции тарифов тренинга возможность личной поддержки от Свилена Димитрова?
					p Причем, эта возможность не ограничена одним лишь временем проведения тренинга! Вы сможете консультироваться со Свиленом даже после окончания тренинга.
					p Мы действительно можем довести Вас до результата. Если Вы будете практиковаться, нарабатывать навыки по предложенной программе обучения и будете проходить испытание на получение капитала в управление от инвестиционной компании, то мы Вам в этом с удовольствием поможем и окажем всестороннюю поддержку.
					p Все зависит только от Вас – от Вашего желания, упорства и целеустремленности. С нашей стороны Вы получите все необходимое – знания, стратегии, обратную связь, поддержку и 20-летний опыт профессионального управляющего трейдера.
					b Дерзайте! 
				+e.img-col.col-lg-4
					p
						| Выбирайте
						|
						br.d-none.d-lg-block
						| удобный для Вас тариф обучения, освойте профессию управляющего Форекс-трейдера и начните зарабатывать, управляя крупным капиталом инвестора.
					+e.img
						img(loading="lazy" src='Img/svg/interest-img.svg' alt="")
	// end sIterest