mixin sWhatKnow(data)
	// start sWhatKnow
	+b.SECTION.sWhatKnow.section#sWhatKnow&attributes(attributes)
		.container
			+b.section-title
				h2.text-success  Что именно нужно делать, чтобы зарабатывать на&nbsp;акциях рынка OTC? 
			.row
				mixin item(i,t,sm)
					+e.col.col-lg-6 
						+e.item 
							+e.item-head 
								+icon(i)
								+e.title= t
							+e.title-sub=sm 
							block 
				mixin tr(t1,t2)
					tr 
						td.h5.strong.text-success!= t1
						td.fw-500!= t2
				+item(`hierarchical-structure`,`Самостоятельный трейдинг`,`занимает от 1 часа в день`)
					table
						+tr(`шаг 1`,`Пройдите обучение, изучите понятные видеоуроки от Павла Крёза`)
						+tr(`шаг 2`,`Откройте брокерский счет в&nbsp;Interactive Brokers, следуя полученной в&nbsp;тренинге инструкции`)
						+tr(`шаг 3`,`С&nbsp;помощью полученного алгоритма ежедневно самостоятельно проводите поиск компаний  для портфеля`)
						+tr(`шаг 4`,`Покупайте найденные компании в&nbsp;портфель, сразу выставляйте по&nbsp;ним отложенные ордера  на&nbsp;фиксацию прибыли`)
						+tr(`шаг 5`,`Занимайтесь своими делами, ждите роста стоимости акций в&nbsp;портфеле и&nbsp;регулярно проводите поиск новых компаний. Радуйтесь, когда фиксируются прибыльные сделки и&nbsp;пополняются наличные на&nbsp;депозите`)
					a.btn.btn-success(href="#") Хочу торговать самостоятельно
				+item(`hierarchical-structures`,`Трейдинг в команде  мастер-группы Павла Крёза`,`занимает от 15 минут в день`)
					table
						+tr(`шаг 1`,`Пройдите обучение, изучите понятные видеоуроки от&nbsp;Павла Крёза`)
						+tr(`шаг 2`,`Откройте брокерский счет в&nbsp;Interactive Brokers, следуя полученной в&nbsp;тренинге инструкции`)
						+tr(`шаг 3`,`Посещайте онлайн-занятия мастер-группы и&nbsp;участвуйте в&nbsp;чате участников`)
						+tr(`шаг 3.1`,`Участвуйте в&nbsp;командном поиске компаний для портфеля или просто используйте плоды поиска других участников`)
						+tr(`шаг 4`,`Покупайте найденные компании в&nbsp;портфель, сразу выставляйте по&nbsp;ним отложенные ордера на&nbsp;фиксацию прибыли`)
						+tr(`шаг 5`,`Занимайтесь своими делами, ждите роста стоимости акций в&nbsp;портфеле. Радуйтесь, когда фиксируются прибыльные сделки и&nbsp;пополняются наличные на&nbsp;депозите`)
					a.btn.btn-success(href="#") Хочу торговать в команде Павла Крёза 
	// end sWhatKnow