// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(xl){

		--sPT: 95px;
	}
	--sPT: 75px;
	@include media-breakpoint-up(md) {
		--sPT: 115px;

		--sPB: 150px;
	}
	--sPB: 80px;
	// margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	z-index: 2;
	// &::before{

	// }
	// background-image: url(../img/@2x/webp/head-bg.webp); 
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position: top left;

	// background-image: url(../img);
	// background-color: #000000;

	h1 {
		font-weight: 900;
		color: $success;
		@include media-breakpoint-up(lg){

			max-width: rem(950);
		}
		max-width: rem(550);
		line-height: 96.3%;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}
	&__sub-title{
		color: $dark;
		@extend .h3;
		text-transform: uppercase;
		font-weight: 900;max-width: rem(520);
		margin-bottom: rem(22);
	}

	.btn{
		position: relative;
		z-index: 2;
		margin-bottom: rem(30);
	}
	.container{
		position: relative;
		z-index: 2;

	}
 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock
.man-block{
	// z-index: -1;
		@include media-breakpoint-up(md) {

			position: absolute;
			text-align: end;
		}
		text-align: center;
	@include media-breakpoint-up(xl) {

		right: 0;
	}
	right: -50px;
	bottom: 0;
	max-width: rem(915);
	width: 100%;
	picture{
		position: relative;
		@include media-breakpoint-up(xl){

			right: rem(-150);
		}
		@include media-breakpoint-up(lg) {

			right: rem(-180);
		}
		@include media-breakpoint-up(md) {

			right: rem(-320);
		}
	}
	&__caption{
		border-top: 10px solid $success;
		padding-top: rem(10);
		@include media-breakpoint-up(md) {
			padding-right: rem(70);
		}
		font-weight: 500;
	}
	&__title{
		font-size: rem(20);
	}
	&__text{
		color: $dark;
	}

}