mixin sHaveQuestions(data)
	// start sHaveQuestions
	+b.SECTION.sHaveQuestions.section#sHaveQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Есть вопросы и нужна консультация?
				.h4.strong Мы готовы перезвонить Вам и ответить на любые вопросы:
			.row
				mixin it(i)
					+e.col.col 
						+e.img-wrap 
							img(src=`img/svg/have-${i}.svg` loading="lazy", alt="")
						block
				+it(`1`)
					.h6 по программе  <br> тренинга
				+it(`2`) 
					.h6 по техническим  <br> моментам
				+it(`3`)
					.h6 по вопросам оплаты  <br>и участия
			p Даже, если у&nbsp;Вас возник какой-то особенный или трудный вопрос! В&nbsp;этом случае обязательно заказывайте консультацию. Это&nbsp;&mdash; совершенно бесплатно!
				br
				| Мы&nbsp;сможем квалифицированно ответить на&nbsp;любой Ваш вопрос о&nbsp;тренинге и&nbsp;найти пути решения даже для личных ситуаций!

			p Если у&nbsp;Вас возникли сложности с&nbsp;оплатой, мы&nbsp;можем подобрать для Вас вариант рассрочки. Условия рассрочки согласовываются и&nbsp;подбираются индивидуально, свяжитесь с&nbsp;менеджером Инфо-ДВД, чтобы обсудить возможные варианты оплаты участия.

			p Чтобы заказать звонок специалиста Инфо-ДВД, введите свои данные в&nbsp;форму ниже. Наши менеджеры в&nbsp;самый короткий срок перезвонят Вам по&nbsp;указанному номеру телефона.
			+form2()
	// end sHaveQuestions


mixin form2()
	#bf278.inbfrm.v2
		#bf278_inner
			.title.d-none
				| &Vcy;&acy;&shcy;&icy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;
			form(id="bf278_form" action="//info-dvd.ru/bbm/order/otcspeculationentry/?bform_id=278" method="POST" accept-charset="windows-1251" onsubmit="return bf278.check();")
				+b.form
					+e.block
						.row 
							.col-sm
								.h2.fw-900.text-success.ttu Успейте оставить заявку на участие в тренинге
								.h6.mb-4  Введите свои данные прямо&nbsp;сейчас 
							.col-sm
								+form-inner()
							.col-4.align-self-end.d-none.d-xl-block
								+pic("man-form.png",'',0)
							
					//-polite
					+e.polite.text-center
						.privacy_agreement_block
							label
								input(type='checkbox' name='oferta_warn' value='1' checked='checked' required='required')
								span.ibfm_txt &YAcy; &scy;&ocy;&gcy;&lcy;&acy;&scy;&iecy;&ncy; &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&mcy;&icy;
								span
									| 
								a(href='javascript:void(0)' onclick="return window['bf278'].popup('https://info-dvd.ru/bbm/../../oferta?popup=1', 'win', 1050, 450); return false;") &pcy;&ucy;&bcy;&lcy;&icy;&chcy;&ncy;&ocy;&jcy; &ocy;&fcy;&iecy;&rcy;&tcy;&ycy;