
	// start .sHaveQuestions
	.sHaveQuestions {
		--sPT: 10px;
		
		position: relative;
		z-index: 2;
	@include media-breakpoint-up(md) {

		&::before {
			content: url(../img/@2x/webp/el.webp);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}
		h2{
			color: $success;
		}
		&__img-wrap{
			height: 78px;
			margin-bottom: 20px;
		}
		// --sPB: ;
		// --sTPB: ;
		&__col{
			margin-bottom: rem(65);
		}
		p{
			font-weight: 500;
			font-size: rem(20px);
			line-height: 140%; 
			color: #1E1E1E;
		}
		.form{
			margin-top: 60px;
			picture{
				margin-left: 30px;
				margin-right: -50px;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sHaveQuestions