mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title
				.h4.strong.mb-4 Программа обучения тренинга Павла Крёза и Инфо-ДВД
				h2 Трейдинг акциями рынка ОТС
				.h6 Обучение состоит из трех частей:
			+e.head-row.row
				mixin item(i, t)
					+e.head-col.col-auto 
						img(src=`img/svg/step-${i}.svg` loading="lazy", alt="")
						+e.col-title!= t
				+item(`1`,`обучающий  видеокурс  и&nbsp;методические материалы`)
				+item(`2`,`разбор теории на&nbsp;реальном рынке`)
				+item(`3`,`командная практика  в&nbsp;онлайн-режиме  в&nbsp;мастер-группе  Павла Крёза`)
			.h3.fw-900.text-success.mb-3.ttu Часть I
			.col-xl-11.pb-3
				.h6.mb-3 Материалы первой части&nbsp;Вы получите сразу, в&nbsp;течение одной минуты после оплаты участия, и&nbsp;сможете немедленно приступить к&nbsp;изучению нюансов стратегии.

				.h6.mb-3 Обучающие материалы по&nbsp;стратегии будут выданы Вам в&nbsp;закрытом разделе группы Инфоклуба в&nbsp;формате видеоуроков и&nbsp;pdf-инструкций.

				.h6.mb-3 Первая часть включает в&nbsp;себя всё необходимое теоретическое обучение для старта торговли на&nbsp;ОТС. После изучения первой части&nbsp;Вы уже сможете открыть брокерский счет и&nbsp;начать делать свои первые практические шаги на&nbsp;рынке.

				.h6.mb-3 Программа обучения первой части состоит из&nbsp;двенадцати шагов&nbsp;&mdash; от&nbsp;первого знакомства с&nbsp;фондовым рынком для новичков до&nbsp;разбора стратегии и&nbsp;работы с&nbsp;брокерским терминалом
			mixin accordion(t, p, ...items)
				+b.accordion.q-item-js 
					+e.head!= t
						+e.before
					+e.body.q-content-js
						p!= p 
						ul 
							each item in items
								li= item
			+accordion(`Шаг 1. Экскурс в фондовый рынок США`,`На&nbsp;первом шаге&nbsp;Вы познакомитесь с&nbsp;понятием биржа, узнаете, как компания становится публичной и&nbsp;для чего, какие у&nbsp;компании появляются обязательства перед акционерами, какие существуют регуляторы.`,`Как устроен фондовый рынок?`,`Что такое фондовая биржа?`,`Для чего и&nbsp;как компания становится публичной?`,`Обязательства компании перед акционерами.`,`Регуляторы фондового рынка.`)

			+accordion(`Шаг&nbsp;2. Брокерский счет`,`На&nbsp;втором шаге&nbsp;Вы получите инструкцию по&nbsp;открытию и&nbsp;пополнению счёта у&nbsp;одного из&nbsp;ведущих мировых брокеров (Interactive Brokers).`,`Разбор брокера, тарифы и&nbsp;особенности.`,`Подробная процедура открытия счёта.`,`Портал клиентов и&nbsp;добавление торгового инструмента.`,`Процедура перевода средств с&nbsp;банковского счёта на&nbsp;брокерский счёт в&nbsp;Interactive Brokers.`,`Уведомление в&nbsp;ФНС об&nbsp;открытии счёта у&nbsp;зарубежного брокера для резидентов&nbsp;РФ.`)

			+accordion(`Шаг&nbsp;3. Знакомство с&nbsp;OTC Markets`,`На&nbsp;этом занятии&nbsp;Вы познакомитесь с&nbsp;внебиржевым рынком ОТС Markets и&nbsp;его тремя категориями компаний. Вы&nbsp;узнаете, почему внебиржевого рынка не&nbsp;стоит бояться, и&nbsp;как происходят инвестиции в&nbsp;реальные компании малой капитализации.`,`Что такое внебиржевой рынок OTC Markets?`,`Подробная экскурсия по&nbsp;сайту otcmarkets.com.`,`3&nbsp;категории OTC Markets: OTCQX, OTCQB, OTC Pink&nbsp;&mdash; основные особенности и&nbsp;нюансы`)

			+accordion(`Шаг&nbsp;4. Основные финансовые отчёты компании`,`Как, не&nbsp;погружаясь в&nbsp;дебри бухгалтерии, инвестору оценить реальное финансовое положение у&nbsp;компании? На&nbsp;этом шаге&nbsp;Вы познакомитесь с&nbsp;двумя основными отчетами организации, которые будут необходимы для проведения экспресс-анализа компаний в&nbsp;рамках стратегии торговли на&nbsp;OTC. Вы&nbsp;удивитесь, насколько это быстро и&nbsp;просто, когда знаешь, куда конкретно смотреть, и&nbsp;что эта цифра означает`,`Как инвестору оценить реальное финансовое положение компании?`,`Какие финансовые отчёты компании помогают провести её&nbsp;экспресс анализ в&nbsp;рамках стратегии торговли на&nbsp;OTC?`,`Знакомство с&nbsp;бухгалтерским балансом компании.`,`Знакомство с&nbsp;отчетом о&nbsp;прибылях и&nbsp;убытках`)

			+accordion(`Шаг 5. Принцип управления деньгами при торговле на OTC`,`Сделки на&nbsp;рынке ОТС имеют свои особенности. На&nbsp;данном занятии&nbsp;Вы получите стратегию с&nbsp;нюансами, как правильно покупать компании рынка OTC и&nbsp;как правильно фиксировать прибыль, чтобы получить защищенный рост Вашего депозита`,`Риск-менеджмент и&nbsp;мани-менеджмент при работе с&nbsp;акциями ОТС.`,`Как правильно покупать компании рынка OTC? Набор позиций.`,`Перевод позиции в&nbsp;б/у.`,`Как правильно фиксировать прибыль? Схема фиксации отложенными ордерами`)

			+accordion(`Шаг 6. Поиск компаний`,`Переходим к первичному отбору компаний и составлению списка акций для дальнейшей работы. На данном занятии Вы научитесь пользоваться поисковиком акций, получите параметры поиска для выставления и чеклист – на что обращать внимание при первичном отборе акций. `,`Первичный отбор компаний.`,`Знакомство с поисковиком акций.`,`Знакомство с поисковиком акций.`,`Чек-лист особенностей при первичном отборе акций. `,`Чек-лист особенностей при первичном отборе акций. `)

			+accordion(`Шаг 7. Экспресс-анализ компаний.`,`Этот шаг самый интересный. Теперь из первичного списка отфильтрованных компаний нужно выделить те, у которых имеется реальный бизнес, развивающийся и показывающий драйверы для роста цены акции. Весь этот процесс анализа мы также упаковали в пошаговый алгоритм, значительно ускоряющий Вашу работу. На выходе из этого шага мы уже получаем список компаний для приобретения в портфель.`,`Пошаговый алгоритм экспресс-анализа компаний для фильтрации списка.`,`Главные критерии для анализа компаний: наличие реального бизнеса и его развитие; драйверы для роста цены акции.`,`Анализ деятельности выбранных компаний.`,`Анализ финансовых отчётов.`,`Составление итогового списка компаний для мониторинга и поиска точки входа.`)

			+accordion(`Шаг 8. Технический анализ графика`,`После того, как Вы решили взять акции компании в свой портфель, надо позаботиться и о том, чтобы точка входа была тоже удачной. Иногда на ОТС правильный выбор точки входа становится решающим. В этом Вам помогут базовые основы технического анализа. На занятии Вы получите краткую информацию по основным моментам технического анализа графика компании.`,`Базовые основы технического анализа графика компании. `,`Обзор основных моментов технического анализа графика компании. Тренд, объемы, паттерны.`,`Алгоритм выбора эффективной точки входа.`)

			+accordion(`Шаг 9. Итоговая сборка стратегии`,`На этом шаге мы соберем все полученные знания воедино и нарисуем законченную картину стратегии спекуляций дешевыми акциями на ОТС.`,`Общая картина проработанной стратегии портфельных спекуляций с дешевыми акциями на ОТС.`,`Подведение итогов. `)

			+accordion(`Шаг 10. Практика работы с терминалом`,`Теперь, имея на руках уже проработанный список акций, Вы можете приступить к реализации Вашего портфеля на реальном рынке.  На этом шаге мы подробно, до мелочей, разберем торговый терминал TWS. Вы познакомитесь с процессом покупки и продажи акций, выставлений ордеров и прочими необходимыми на практике нюансами.`,`Установка терминала TWS.`,`Настройка и особенности торговой платформы.`,`Выставление ордеров. Открытие и закрытие позиции.`)

			+accordion(`Шаг 11. Автоматизация заработка`,`Заключительный нюанс, который еще сильнее упростит Ваш заработок на ОТС. В финальном шаге Вы научитесь создавать списки мониторинга акций и настраивать уведомления, которые будут приходить Вам на телефон, email или компьютер. Вам больше не надо следить за рынком в поисках точки входа. Когда потребуется Ваше внимание, сработает сигнал.`,`Создание списка мониторинга.`,`Создание сигналов, настройка уведомлений.`,`Работа с отложенными ордерами.`)

			+accordion(`Шаг 12. Что делать дальше? Практика`,`Финальный урок видеокурса, в котором Павел Крёз поделится с Вами своими советами, как достичь успеха в инвестировании и укажет направления, куда двигаться дальше, чтобы перейти к практике.`,`Как достичь успеха в инвестициях?`,`Как перейти к практике заработка на ОТС?`,`Как проходит командная практика в мастер-группе?`)
			.pb-5
			.h3.fw-900.text-success.mb-3.ttu Часть II
			.col-xl-11.pb-3
				.h4.strong.mb-3 Онлайн отработка стратегии на реальном рынке
				.h6.mb-3 Во&nbsp;второй части тренинга Вас ждут 6&nbsp;онлайн-занятий, на&nbsp;которых мы&nbsp;заново пройдемся по&nbsp;всем урокам теоретического материала и&nbsp;на&nbsp;текущем рынке покажем, как применять каждый шаг стратегии в&nbsp;практической работе.

				.h6.mb-3 В&nbsp;прямом эфире, прямо во&nbsp;время торговой сессии на&nbsp;ОТС, мы&nbsp;закрепим полученные Вами знания практикой, ответим на&nbsp;все вопросы, которые у&nbsp;Вас возникли во&nbsp;время изучения стратегии, и&nbsp;поможем Вам начать делать первые практические шаги на&nbsp;рынке ОТС.
				.row.py-5 
					.col-sm-auto.mb-3
						img(src="img/svg/prize.svg" loading="lazy", alt="")
					.col
						p Также, бонусом&nbsp;Вы получите записи шести прямых эфиров с&nbsp;разбором стратегии торговли, проходивших осенью 2020&nbsp;года. Уже во&nbsp;время самостоятельного просмотра этих записей&nbsp;Вы закрепите полученные Вами знания, получите разъяснение важных дополнительных нюансов и&nbsp;самостоятельно попробуете сделать первые практические шаги на&nbsp;рынке ОТС. Доступ к&nbsp;этим записям занятий&nbsp;Вы также получите сразу после оплаты участия.
			.h4.strong.mb-5 Расписание онлайн-занятий второй части:
			.row.pb-4
				mixin it(t,d,p)
					.col-lg-4.col-sm-6 
						+e.item
							+e.item-top= t
							+e.item-date= d
							+e.item-text= p
				+it(`1 онлайн-занятие`,`19 апреля`,`понедельник, в 19-00 (МСК)`)
				+it(`2 онлайн-занятие`,`21 апреля`,`среда, в 19-00 (МСК)`)
				+it(`3 онлайн-занятие`,`23 апреля`,`Пятницак, в 19-00 (МСК)`)
				+it(`4 онлайн-занятие`,`26 апреля`,`понедельник, в 19-00 (МСК)`)
				+it(`5 онлайн-занятие`,`28 апреля`,`среда, в 19-00 (МСК)`)
				+it(`6 онлайн-занятие`,`30 апреля`,`Пятницак, в 19-00 (МСК)`)
			.h3.fw-900.text-success.mb-3.ttu Часть IiI
			.h6.mb-3 Долгосрочная командная практика трейдинга на ОТС в мастер-группе Павла Крёза
			p.fw-500.text-dark для тарифов с мастер-группой
			.row.align-items-center.pb-5
				.col-lg-6.h6.text-dark Теперь, после прохождения первых двух частей, Вы&nbsp;на&nbsp;100% готовы к&nbsp;трейдингу на&nbsp;ОТС, как в&nbsp;качестве самостоятельной практики, так и&nbsp;в&nbsp;качестве командного игрока
				.col
					+e.dark-bg Сразу после оплаты Вы получите доступ в мастер-группу Павла Крёза на срок, соответствующий Вашему тарифу участи
			.h6.mb-3 В мастер-группе Павла Крёза Вы получите СРАЗУ, на входе:
			mixin block(t)
				+b.item-block 
					+e.title!= t
					block
			+block(`Модуль «Аналитика по компаниям ОТС»`)
				p Командой участников мастер-группы уже проработаны свыше 6000 компаний на&nbsp;ОТС. С&nbsp;февраля 2021 года в&nbsp;специальном модуле мастер-группы ведется история с&nbsp;аналитикой по&nbsp;каждой из&nbsp;компаний ОТС, которую мы&nbsp;разбираем. 

				p Это целая кладезь аналитики и&nbsp;знаний! Сверяйте свои выводы по&nbsp;найденным компаниям с&nbsp;выводами других участников команды, обсуждайте и&nbsp;делитесь своим анализом.
			+block(`Модуль с публичными сделками Павла Крёза`)
				p Изучив открытые сделки Павла Крёза, Вы&nbsp;увидите список акций, который сейчас есть в&nbsp;портфеле у&nbsp;Павла. Бегло проанализировав этот список, Вы&nbsp;сможете определить компании, акции которых можно покупать сразу. Инструкцию и&nbsp;алгоритм принятия решения&nbsp;Вы тоже получите.

				p В&nbsp;этом&nbsp;же модуле Павел Крёз в&nbsp;реальном времени публикует свои входы и&nbsp;выходы из&nbsp;сделок. Вы&nbsp;можете настроить подписку уведомлений с&nbsp;данного модуля, чтобы вовремя получать оповещения о&nbsp;сделках.
			+block(`Телеграм-чаты участников`)
				p Для командной работы на&nbsp;рынке ОТС работают два чата участников:
				ul 
					li рабочий чат для обсуждения сделок;
					li чат технических и&nbsp;прочих вопросов для поддержки участников.
				
			+block(`Дополнительные обучающие материалы`)
				p В&nbsp;мастер-группе мы&nbsp;собираем архив видеоуроков и&nbsp;записей занятий, которые помогут Вам не&nbsp;только на&nbsp;рынке ОТС, но&nbsp;и&nbsp;на&nbsp;всем Вашем инвестиционном пути

				p В&nbsp;их&nbsp;число входит:
				ul 
					li Запись тренинга Павла Крёза &laquo;Как выжить и&nbsp;заработать в&nbsp;кризис&raquo;, посвященного защитным инструментам, которые дают прибыль во&nbsp;время падения рынков.
					li Серия обучающих видео по&nbsp;фундаментальному анализу и&nbsp;инвестициям от&nbsp;Сергея Маштакова.
					li Запись дополнительных занятий с&nbsp;Павлом Крёзом по&nbsp;работе с&nbsp;Excel.
				.row 
					.col-xl-auto.col.pb-3
						+pic("block-img.png")
					.col-lg-3.fw-500.text-dark Материалы постоянно обновляются, за&nbsp;время Вашего участия уже будут доступны новые видео
			+block(`<span class="text-primary">Новинка!</span> Дополнительная стратегия для увеличения доходности трейдинга акциями ОТС`)
				p Еще одна стратегия, разработанная в&nbsp;мастер-группе Павла Крёза, которая позволит увеличить доходность сделок и&nbsp;ускорить рост депозита. В&nbsp;видеоформате&nbsp;Вы получите все нюансы и&nbsp;алгоритм применения новой стратегии.
			+block(`Регулярные онлайн-занятия `)
				p 1&nbsp;раз в&nbsp;2&nbsp;недели в&nbsp;мастер-группе Павла Крёза проходят онлайн-занятия, на&nbsp;которых мы&nbsp;разбираем найденные для портфеля компании, проводим аналитику рынка, отвечаем на&nbsp;вопросы и&nbsp;делимся новыми наработками.
			+block(`Сообщество трейдеров на ОТС`)
				p Нам удалось создать целое сообщество единомышленников, которые вместе торгуют акциями рынка ОТС и&nbsp;делятся друг с&nbsp;другом своими личными наработками.

				p В&nbsp;сообществе мастер-группы Павла Крёза принята взаимоподдержка, командная работа, мотивация от&nbsp;успеха товарищей и&nbsp;добрая атмосфера общения.
			+block(`Участвуя в мастер-группе Павла Крёза, Вы получите:`)
				ul 
					li  максимально легкое и&nbsp;быстрое освоение практики работы на&nbsp;ОТС;
					li  командную практику поиска и&nbsp;анализа компаний рынка ОТС;
					li возможность пользоваться готовыми наработками мастер-группы и&nbsp;просто повторять сделки других участников;
					li  повторение и&nbsp;разъяснение материала, который ранее не&nbsp;был усвоен;
					li  весь процесс практической работы в&nbsp;режиме реального времени.
					li  поддержку, ответы на&nbsp;Ваши вопросы и&nbsp;обратную связь от&nbsp;автора и&nbsp;участников команды
			+block(`А в долгосрочном горизонте мастер-группа может Вам дать:`)
				ul 
					li Длительную постоянную поддержку на&nbsp;всем инвестиционном пути, в&nbsp;том числе и&nbsp;на&nbsp;классических фондовых биржах.
					li Сообщество единомышленников, имеющих общие с&nbsp;Вами интересы.
					li Эффект синергии от&nbsp;командной работы, когда вклад каждого участника дает прибыль всей команде.
					li Возможность сколь угодно долго продлевать участие в&nbsp;мастер-группе по&nbsp;льготной стоимости.
					li Динамическое обновление стратегии работы на&nbsp;рынке ОТС, корректировка фильтров и&nbsp;добавление новых нюансов, полученных из&nbsp;практики.
					li Готовые стратегические решения для долгосрочного роста Вашего капитала.
			+e.foot.text-center 
				p Мастер-группа Павла Крёза в комплекте с тренингом «Трейдинг акциями рынка ОТС» - это готовое решение для создания нового источника дохода, проверенное и подтвержденное более 300 учениками.
				+btn("#",'Хочу войти в команду Павла Крёза! ')
	// end sSteps