mixin sWorkingWith(data)
	// start sWorkingWith
	+b.SECTION.sWorkingWith.section#sWorkingWith&attributes(attributes)
		.container
			+b.section-title
				h2.text-success С чем конкретно Вы будете работать?
			table
				mixin tr(t1,t2)
					tr
						td!= t1
						td!= t2
				+tr(`Рынок`,`Фондовый внебиржевой рынок OTC Markets`)
				+tr(`Инструменты`,`Акции стоимостью менее одного цента США`)
				+tr(`Стратегия отбора`,`Анализ финансов компании по&nbsp;чеклисту, вход по&nbsp;уровням теханализа`)
				+tr(`Стратегия отбора`,`Портфельный трейдинг, покупка портфеля компаний с&nbsp;потенциалом к&nbsp;выстрелу стоимости акций`)
				+tr(`Возможности упрощения процесса торговли`,`Командная работа, использование готовых наработок участников команды в&nbsp;поиске потенциальных акций`)
				+tr(`Способы автоматизации`,`Алерты, отложенные ордера`)
				+tr(`Брокер`,`Interactive Brokers*`)
			+e.small *К сожалению, брокер Interactive Brokers не открывает счета жителям Крыма и Беларуси.
		+e.block
			.container
				h3.strong.text-success Интересные нюансы:
				mixin item(i,t,...items)
					+b.interst-item
						.row 
							.col-lg-auto
								+e.block
									+e.img-wrap 
										img(src=`img/svg/interest-${i}.svg` laoding="lazy", alt="")
									+e.title!= t
							.col
								+e.text-block 
									each item in items 
										p!= item
				+item(`1`,`При работе в команде мастер-группы Павла Крёза всего <span>15 минут </span> в день достаточно  для торговли.`,`Мы&nbsp;занимаемся портфельным трейдингом. Мы&nbsp;не&nbsp;ведем активную торговлю и&nbsp;не&nbsp;следим за&nbsp;графиками. Мы&nbsp;ищем по&nbsp;отработанному алгоритму потенциальные компании, покупаем их&nbsp;акции на&nbsp;рынке ОТС, выставляем отложенные ордера на&nbsp;фиксацию прибыли и&nbsp;занимаемся своими делами. Когда акция в&nbsp;портфеле совершит рост в&nbsp;цене, прибыль фиксируется частями автоматически.`,`Такой подход позволяет искать компании для портфеля всей командой и&nbsp;получать эффект синергии&nbsp;&mdash; когда вклад каждого участника дает прибыль всей команде.`)

				+item(`2`,`Сверхдешевые акции рынка ОТС могут  с&nbsp;легкостью расти  на&nbsp;сотни и&nbsp;тысячи процентов`,`Мы&nbsp;работаем с&nbsp;акциями стоимостью менее одного цента, покупая их&nbsp;на&nbsp;самом дне. Такие акции живут своей жизнью и&nbsp;неподвластны макроэкономическим влияниям. `,`А&nbsp;чтобы вырасти в&nbsp;стоимости на&nbsp;100%, им&nbsp;нужно сделать всего один шаг цены на&nbsp;графике.`)
		+e.block
			.container
				h3.strong.text-success Смотрите, как это происходит на реальном рынке:
				+carusel('image14102003022021','image15142003022021','image16102003022021','image16111322072020','image16491222072020','image17531222072020','image18551222072020')
				+e.alert-block
					p Надеемся, Вы&nbsp;понимаете, что трейдинг дешевыми акциями на&nbsp;ОТС&nbsp;&mdash; это серьезный легальный источник дохода и&nbsp;никаких финансовых пирамид, бинарных опционов и&nbsp;прочей ереси здесь нет?
				.text-center
					+btn("#", 'Начните обучение портфельному трейдингу акциями рынка ОТС уже сегодня! ' )
	// end sWorkingWith