mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2 Вот почему этот источник дохода заслуживает Вашего внимания:
				
			+e.row.row
				mixin item(i,t,p)
					+e.col.col-xl-4.col-6
						div: img(src=`img/svg/why-i-${i}.svg` loading="lazy", alt="")
						+e.title!= t
						p!= p 
				+item(`1`,`Легко и&nbsp;доступно каждому`,`Более 300 активных учеников Павла Крёза сегодня продолжают торговать акциями OTC и&nbsp;зарабатывать деньги`) 

				+item(`2`,`Можно совмещать  с&nbsp;любой занятостью`,`Если у&nbsp;Вас есть 3&nbsp;часа в&nbsp;неделю, значит, Вы&nbsp;сможете торговать дешевыми акциями OTC вместе с&nbsp;командой Павла Крёза`) 

				+item(`3`,`Минимум денег<br>  для старта`,`Чтобы собрать полноценный портфель, достаточно от&nbsp;500$. Можно начать торговать на&nbsp;OTC даже со&nbsp;100$, при условии дальнейшего пополнения депозита на&nbsp;50$ в&nbsp;месяц`) 

				+item(`4`,`Кратное умножение вложенных денег`,`Сделки с&nbsp;акциями OTC приносят от&nbsp;200% до&nbsp;нескольких тысяч %&nbsp;прибыли. Зафиксированный в&nbsp;январе 2021 результат ученика: +25512% прибыли в&nbsp;сделке!`) 
				+item(`5`,`Проверено временем  и&nbsp;учениками`,`С&nbsp;января 2020 года участники мастер-группы Павла Крёза каждый месяц отчитываются о&nbsp;получении прибыли. Депозиты участников растут кратно. Зафиксированный результат ученика: умножил депозит в&nbsp;100 раз за&nbsp;10&nbsp;месяцев!`) 

				+item(`6`,`100% легально  и&nbsp;прозрачно`,`Торговля ведется на&nbsp;регулируемом государством рынке OTC, через крупного лицензированного брокера, находящегося под строгим надзором государственных регуляторов. Вы&nbsp;получаете официальный отчет о&nbsp;сделках и&nbsp;платите налоги с&nbsp;полученной прибыли`) 
			+e.foot 
				.row 
					+e.foot-col.col-sm-4.col-2
					.col
						+e.foot-item 
							img(src=`img/svg/why-i-7.svg` loading="lazy", alt="")
							+e.foo-text Прямо сегодня получите доступ  к&nbsp;тренингу 2021 года от&nbsp;Павла Крёза  и&nbsp;Издательства Инфо-ДВД
	// end sWhy