mixin sPublish(data)
	// start sPublish
	+b.SECTION.sPublish.section#sPublish&attributes(attributes)
		.container
			+b.section-title
				h2 Издательства Инфо-ДВД Трейдинг акциями рынка ОТС
			.row
				.col
					ul 
						li Быстрый старт и&nbsp;понятное каждому обучение
						li Моментальный доступ к&nbsp;обучающим материалам
						li Готовые решения и&nbsp;аналитика от&nbsp;команды Павла Крёза
						li Доработанная в&nbsp;2021 году версия стратегии
						li Расширенная поддержка в&nbsp;мастер-группе
						li Круглогодичная онлайн-практика торговли акциями OTC
						li Командная работа на&nbsp;рынке OTC с&nbsp;эффектом синергии
						li Возможность долгосрочного заработка в&nbsp;инвестициях с&nbsp;Павлом Крёзом
					a.btn.btn-success(href="#") Получить доступ к обучению прямо сейчас!  
				.col-lg-auto
					+e.text Начните обучение прямо сейчас и&nbsp;запустите  в&nbsp;кратчайшие сроки удобный и&nbsp;невероятно простой источник дохода на&nbsp;рынке ОТС
						+pic("sPublish-img.jpg",'',0)
	// end sPublish