mixin sReady(data)
	// start sReady
	+b.SECTION.sReady.section#sReady&attributes(attributes)
		.container
			+b.section-title
				h2 Готовый источник дохода
				.h4.strong Запустите его уже в этом месяце!
			.row
				.col-lg-6.mb-4
					h3.fw-900.ttu Хватит искать и перебирать курсы по заработку. 

					h6 Просто возьмите стратегию спекуляций дешевыми акциями на ОТС и реализуйте новый источник денег для Вашей жизни!
				.col-lg-6.mb-4
					+e.block Мы&nbsp;уверены, на&nbsp;сегодняшний день  это лучшее решение  для получения дохода  с&nbsp;небольшим депозитом
			.row
				mixin item(p)
					+e.col.col-lg-3.col-sm-6 
						+e.item!= p
				+item(`Здесь есть ВСЁ оптом, чтобы начать зарабатывать прямо сейчас`)
				+item(`От&nbsp;Вас не&nbsp;потребуется много времени, усилий или таланта&nbsp;&mdash; все просто, как дважды два`)
				+item(`Уже более 300 учеников Павла Крёза подтвердили работоспособность стратегии`)
				+item(`Накоплена положительная история результатов учеников и&nbsp;публичной торговли Павла Крёза с&nbsp;января 2020 года`)
			.text-center 
				+e.foot Войдите в&nbsp;команду Павла Крёза прямо сейчас и&nbsp;начните зарабатывать деньги на&nbsp;дешевых акциях рынка ОТС
				+btn("#",'Стать участником команды! ')
	// end sReady