// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	font-size: 32px;
	width: rem(35);

	&.on {
		//color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 2;
	}

	span:after {
		bottom: $h * 2;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: calc(var(--vh, 1vh) * 100);
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(120%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: $white;
		padding: rem(20) 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		//top: 10px;
		top: 4px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}

	}
	//logo
	&__logo{
		display: block;
		margin-left: rem(15);
		margin-bottom: rem(30);
		width: 50px;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	//menu
	.navMenu{
		list-style: none;
		padding: 0;
		margin: 0;

		display: block;
		text-align: left;

		//li
		&__item{
			padding: 0;
			@include media-breakpoint-up(lg){
				margin-right: rem(30);
			}
			@include media-breakpoint-up(xl){
				margin-right: rem(48);
			}

		}
		//a
		&__link{
			display: block;
			//height: 100%;
			text-align: left;
			padding: rem(8) rem(15);

			color: $body-color;

			font-weight: 600;
		}
	}


	//ul {
	//	position: relative;
	//}
	//
	//li {
	//	display: block;
	//	margin: 0;
	//	border-top: 1px solid rgba(255, 255, 255, .13);
	//
	//	a {
	//		// font-size: 16px;
	//
	//		padding: 10px;
	//		display: block;
	//
	//	}
	//}
}