.navMenu{
	display: flex;
	list-style: none;
	@include roww(40px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	li{
		list-style: none;
		&::marker{
			content: '';
		}
	}
	&__link{
		display: block;
		text-align: center;
		padding: rem(11) rem(0);
		color: $body-color;
	}
}