.top-nav {
	 border-bottom: 1px solid #CED7DA;
	 position: fixed;
	 left: 0;
	 top: 0;
	 width: 100%;
	 z-index: 200;
	 .row{
		 align-items: center;
	 }
	 @include mt;
	 &.fixed{
		 background-color: $body-bg;
	 }

}


