mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			.row
				.col-xl-5.col-lg-6
					+b.section-title
						h2 Автор и ведущий тренинга 
							span.text-success Павел Крёз
					ul 
						li Частный инвестор.
						li Создатель первой и&nbsp;единственной в&nbsp;Рунете стратегии торговли акциями рынка ОТС.
						li Организатор и&nbsp;руководитель команды инвестиционных аналитиков. 
						li Топ-автор Инфо-ДВД, ведущий закрытого сообщества инвесторов и&nbsp;мастер-группы.
						li Ведет публичную торговлю в&nbsp;реальном времени на&nbsp;рынке ОТС.
						li С&nbsp;января 2020 по&nbsp;январь 2021 года публично получил рост депозита + 2405%! 
						li С&nbsp;2004 по&nbsp;2016 год работал в&nbsp;банковской сфере, сделал успешную карьеру в&nbsp;одном из&nbsp;крупнейших федеральных банков. 
						li Специалист по&nbsp;работе с&nbsp;предприятиями сегмента крупного и&nbsp;крупнейшего бизнеса.
				.col
					+e.block 
						+e.block-title Кредо
						+e.block-text продуманные 
							br
							| инвестиции 
							br
							| с минимальными 
							br
							| рисками 
							br
							| и минимальным 
							br
							| участием 
							br
							| эмоций
						+pic("man-3.png")
				.w-100 
				.col-auto
					+e.img-wrap(href="img/@2x/graf.png" data-fslightbox="1qw" )
						+pic("graf-sm.png",'',0)
				.col
					+e.text По&nbsp;мнению учеников, Павел Крёз&nbsp;&mdash; один из&nbsp;самых компетентных и&nbsp;востребованных авторов Издательства Инфо-ДВД, умеющий доносить даже самые сложные вещи простым языком!
	// end sAuthor