mixin sTrust(data)
	// start sTrust
	+b.SECTION.sTrust.section#sTrust&attributes(attributes)
		.container
			+b.section-title
				h2 Максимальный уровень доверия от Инфо-ДВД 
				
			.row
				.col-lg-auto 
					+pic("trust-img.png")
				.col
					+e.text Издательство Инфо-ДВД в&nbsp;лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королёва и&nbsp;топ-менеджера Издательства Дениса Абросимова присваивает онлайн-тренингу Павла Крёза &laquo;Трейдинг акциями рынка ОТС&raquo; &laquo;Зеленый уровень доверия&raquo;.
					+e.strong &laquo;Зеленый уровень доверия&raquo;&nbsp;&mdash; максимальная надежность
			p.fw-500 Это значит, что тема данного курса не вызывает ни малейших этических нареканий со стороны редколлегии Инфо-ДВД, а вероятность положительного результата от обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) близка к 100%.
	// end sTrust