mixin sTimeOfCrisis(data)
	// start sTimeOfCrisis
	+b.SECTION.sTimeOfCrisis.section#sTimeOfCrisis&attributes(attributes)
		.container
			+b.section-title
				h2.text-success А&nbsp;что будет с&nbsp;этим заработком в&nbsp;кризисные времена?
				.h6 Мы&nbsp;не&nbsp;знаем будущего, но&nbsp;у&nbsp;нас есть история фактически проведенных сделок на&nbsp;ОТС
			.row.align-items-center
				.col-sm-6
					+e.block.bg-primary В&nbsp;2020-м году на&nbsp;мировых рынках были и&nbsp;периоды роста, и&nbsp;периоды сильного падения 
				.col
					+e.text И&nbsp;в&nbsp;каждый из&nbsp;прошедших месяцев в&nbsp;нашем портфеле были компании, которые показывали рост, и&nbsp;мы по&nbsp;ним фиксировали прибыль
			+pic("money2.png")
			+e.block-line
				p  #[strong Даже 9 марта 2020 года] – ровно в тот в день, когда все мировые рынки рухнули из-за ситуации с нефтью, мы зафиксировали рост по акциям компании #[strong WDLF +257%!]
			h3.fw-900.mb-4.ttu Стратегия трейдинга акциями рынка ОТС живет совершенно своей жизнью и&nbsp;в&nbsp;меньшей степени реагирует на&nbsp;внешние экономические потрясения
			.h4.strong.mb-4.text-success Вот 7 причин, почему это происходит:
			ul.col-xl-8.text-dark
				li Мы&nbsp;работаем с&nbsp;акциями, которые по&nbsp;своей стоимости находятся на&nbsp;самом дне, им&nbsp;просто уже дальше некуда падать.
				li На&nbsp;ОТС нет крупных капиталов, которые массово выводятся с&nbsp;рынка во&nbsp;время кризиса.
				li Суть стратегии заключается в&nbsp;поиске недооцененных компаний с&nbsp;большим фундаментальным потенциалом роста.
				li Принцип &laquo;купил и&nbsp;держи&raquo;. Акции находятся в&nbsp;Вашем портфеле до&nbsp;тех пор, пока они не&nbsp;покажут рост стоимости. 
				li Стратегия уже доказала в&nbsp;практической торговле, что даже в&nbsp;сам момент падения мировых рынков, компании в&nbsp;портфеле способны расти и&nbsp;приносить прибыль.
	// end sTimeOfCrisis