mixin sHowWork(data)
	// start sHowWork
	+b.SECTION.sHowWork.section.pb-0#sHowWork&attributes(attributes)
		.container
			.row
				+pic("howwork-img.png",'',0).pic-1
				.col-lg-7
					+b.section-title
						h2.text-success Как мы&nbsp;работаем с&nbsp;повышенными рисками?
						.h6 Важно понимать, что ОТС — очень высокорискованный рынок
					.h6.fw-400.mb-4 Совершенно очевидно, что больших доходностей без большого риска  #[strong НЕ БЫВАЕТ]. И это — факт! Особенно, когда торгуются акции стоимостью менее одной десятой доли цента. Такие акции могут в миг упасть  в стоимости до критически низкой цены или даже обанкротиться.
			h3.text-success.mb-4.fw-900.ttu Как мы работаем с этим риском? 
			.row.pb-3
				mixin item(p)
					+e.col.col-lg-6 
						+e.item!= p
				+item(`<strong>Во-первых</strong>, общая сумма портфеля на ОТС должна быть лишь частью Вашего капитала. Ни в коем случае здесь не должны быть все Ваши деньги. И тем более здесь не должны быть заемные деньги. Вы должны понимать, что это высокорискованные спекуляции и существует риск вложенную сумму потерять полностью`)
				+item(`<strong>Во-вторых</strong>, когда мы&nbsp;покупаем акции определенной компании в&nbsp;портфель, мы&nbsp;принимаем стопроцентный риск потери той части денег, которую мы&nbsp;вкладываем в&nbsp;эти акции.`)
			.row.pb-5
				.col-xl-5.col-md-auto.d-none.d-lg-block 
					+pic("money.png",'',0).pic-2
				.col.fw-500.h6.pt-3 Проще говоря. Вам не&nbsp;жалко потерять 30$? Значит на&nbsp;эту сумму&nbsp;Вы и&nbsp;приобретаете акции конкретное компании. Благо, стоимость акций на&nbsp;рынке ОТС позволяет выбирать практически любой размер риска. Даже если у&nbsp;Вас депозит всего 200$, и&nbsp;Вы не&nbsp;готовы рисковать в&nbsp;одной компании более, чем пятнадцатью долларами, посчитайте, сколько акций&nbsp;Вы сможете купить на&nbsp;15&nbsp;долларов по&nbsp;цене 0,0001$.&nbsp;150&nbsp;000&nbsp;акций. Мы&nbsp;покупаем акции одной компании ровно на&nbsp;ту&nbsp;сумму, которой мы&nbsp;готовы рисковать&nbsp;&mdash; это может быть&nbsp;5% от&nbsp;Вашего депозита или&nbsp;1%, размер риска&nbsp;Вы выберете сами.
			.h4.strong.mb-5 В&nbsp;таких условиях&nbsp;Вы можете очень грамотно управлять Вашими рисками.
			hr.mb-3
			h3.text-success.mb-4.fw-900.ttu А вознаграждение за риск оправдывает ожидания. 
			.row
				.col.pb-5
					.fw-500.h6.pt-3 Повышенный риск стратегии трейдинга акциями рынка ОТС полностью оправдан, ведь вознаграждение за риск превосходит все ожидания, учитывая следующие факты: 
					ul.text-dark 
						li потенциал доходности в&nbsp;сделке составляет сотни и&nbsp;тысячи процентов, проще говоря, одна положительная сделка окупает сразу большую часть Вашего портфеля;
						li на&nbsp;Вашей стороне математическое преимущество: в&nbsp;неудачной сделке&nbsp;Вы теряете не&nbsp;более 100% от&nbsp;вложенной суммы, а&nbsp;в&nbsp;прибыльной получаете в&nbsp;несколько раз больше;
						li весь портфель окупается уже после фиксации первых нескольких положительных сделок;
						li уже наработаны тысячи положительных примеров результатов, полученных учениками Павла Крёза. Участники мастер-группы массово умножают свои депозиты, возвращают все вложенные деньги в&nbsp;самые кратчайшие сроки и&nbsp;получают растущую прибыль.
					.h4.strong Кто не рискует, тот… Ну, дальше Вы сами знаете!
				.col-md-auto.align-self-end.d-none.d-lg-block
					+pic("pic-3.png",'',0)
			
	// end sHowWork