mixin sSteps2(data)
	// start sSteps2
	+b.SECTION.sSteps2.section#sSteps2&attributes(attributes)
		.container
			+b.section-title
				h2.text-success Как стать участником тренинга Инфо-ДВД и&nbsp;Павла Крёза &laquo;Трейдинг акциями рынка ОТС&raquo;?
			+e.row.row
				+e.step.col-xl-4 Оставьте заявку на&nbsp;участие. Заполните форму и&nbsp;нажмите кнопку &laquo;Продолжить&raquo;.
				+e.step.col-xl-4 Вам откроется страница с&nbsp;тарифами и&nbsp;доступными сейчас скидками
				+e.step.col-xl-4 Если необходимо, Вас проконсультирует менеджер Инфо-ДВД по&nbsp;указанному Вами номеру телефона
				+e.step.col-xl-4 Выберите тариф участия, оплатите его стоимость
				+e.step.col-xl-4.offset-xl-4 Уже через одну минуту после оплаты Вам откроется доступ в&nbsp;закрытый раздел группы тренинга с&nbsp;обучающими материалами
			+form()
	// end sSteps

mixin form()
	#bf278.inbfrm.v2
		#bf278_inner
			.title.d-none
				| &Vcy;&acy;&shcy;&icy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;
			form(id="bf278_form" action="//info-dvd.ru/bbm/order/otcspeculationentry/?bform_id=278" method="POST" accept-charset="windows-1251" onsubmit="return bf278.check();")
				+b.form
					+e.block
						.row 
							.col-4.align-self-end.d-none.d-xl-block
								+pic("man-form.png",'',0)
							.col-sm
								.h2.fw-900.text-success.ttu Успейте оставить заявку на участие в тренинге
								.h6.mb-4  Введите свои данные прямо&nbsp;сейчас 
							.col-sm
								+form-inner()
					//-polite
					+e.polite.text-center.text-white
						.privacy_agreement_block
							label
								input(type='checkbox' name='oferta_warn' value='1' checked='checked' required='required')
								span.ibfm_txt &YAcy; &scy;&ocy;&gcy;&lcy;&acy;&scy;&iecy;&ncy; &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&mcy;&icy;
								span
									| 
								a.text-white(href='javascript:void(0)' onclick="return window['bf278'].popup('https://info-dvd.ru/bbm/../../oferta?popup=1', 'win', 1050, 450); return false;") &pcy;&ucy;&bcy;&lcy;&icy;&chcy;&ncy;&ocy;&jcy; &ocy;&fcy;&iecy;&rcy;&tcy;&ycy;