mixin sWhatYouGet(data)
	// start sWhatYouGet
	+b.SECTION.sWhatYouGet.section#sWhatYouGet&attributes(attributes)
		.container
			+b.section-title
				h2.text-success Что Вы получите после прохождения тренинга?
			mixin item(i, t, p)
				.row
					.col-sm-auto.mb-2
						img(src=`img/svg/sWhatYouGet-${i}.svg` loading="lazy", alt="")
					.col
						+e.title!= t
						p!= p
			+item(`1`,`Полный пошаговый алгоритм стратегии трейдинга акциями рынка ОТС`,`Это позволит Вам сразу после завершения основной программы обучения начать самостоятельный поиск и&nbsp;анализ компаний для портфеля.`)
			+item(`2`,`Чёткий план действий`,`У&nbsp;Вас будет конкретный формализованный план действий, чек-лист с&nbsp;главными параметрами стратегии и&nbsp;фильтры для отбора акций`)
			+item(`3`,`Навыки психологической устойчивости и&nbsp;работы в&nbsp;команде`,`Совместная командная работа по&nbsp;поиску предприятий, их&nbsp;отслеживание и&nbsp;корректировка параметров фильтров помогут Вам избежать стрессов от&nbsp;возможного финансового риска.`)
			+item(`4`,`Возможность старта без начальных знаний`,`Стратегия торговли не&nbsp;требует от&nbsp;Вас никаких экономических знаний&nbsp;и, самое главное, длительного времени для изучения. К&nbsp;концу программы&nbsp;Вы будете полностью готовы к&nbsp;практике, а&nbsp;на&nbsp;мастер-группе мы&nbsp;вместе будем заниматься отбором компаний и&nbsp;составлением портфеля`)
			+item(`5`,`Выбор удобного времени работы и&nbsp;возможность совмещения с&nbsp;основной занятостью`,`Вам не&nbsp;надо постоянно быть у&nbsp;монитора. Вам не&nbsp;надо постоянно смотреть на&nbsp;графики. Вы&nbsp;работаете тогда, когда&nbsp;Вы выделяете на&nbsp;это время. Вы&nbsp;отбираете компании для портфеля по&nbsp;полученному алгоритму, а&nbsp;затем в&nbsp;любое время работы биржи покупаете отобранные акции в&nbsp;свой портфель.`)
			+item(`6`,`Готовые решения в&nbsp;мастер-группе Павла Крёза`,`Сразу после получения доступа в&nbsp;мастер-группу Вы&nbsp;сможете начать составлять свой портфель акций, практиковаться вместе с&nbsp;командой в&nbsp;трейдинге акциями ОТС и&nbsp;сверять свой собственный анализ компаний с&nbsp;аналитикой других участников группы`)
	// end sWhatYouGet