mixin sMakingMoney(data)
	// start sMakingMoney
	+b.SECTION.sMakingMoney.section#sMakingMoney&attributes(attributes)
		.container
			+b.section-title
				h2.text-success Получится ли у Вас лично зарабатывать на ОТС?
				
			.row
				.col-xl-7.col-lg-6
					+e.block.bg-primary Мы&nbsp;не&nbsp;имеем права это Вам обещать. Но&nbsp;вот факт, которым мы&nbsp;гордимся:
					+e.block.bg-white По&nbsp;итогам 2020  года ВСЕ наши активные ученики смогли умножить свои депозиты!
				.col
					p.h6 По итогам 2020 года и по сегодняшний день в мастер-группе Павла Крёза среди активных учеников нет ни одного, который бы получил убытки!

					p.h6 Среди тех, кто открыл реальный счет и уже хотя бы несколько месяцев торгует на ОТС в команде мастер-группы, абсолютно все участники торгуют в плюс и регулярно отчитываются о получении прибыли!
					.h6.em Вопрос с долей шутки:
					p.h6.fw-400: em Как Вы&nbsp;думаете, какие у&nbsp;Вас шансы нарушить эту статистику и&nbsp;стать единственным неудачником из&nbsp;более 300&nbsp;учеников?
			.text-center 
				a.btn.btn-success(href="#") Войти в команду успешных учеников Павла Крёза
	// end sMakingMoney