mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Ответы на часто задаваемые вопросы
			+e.items
				+questionItem(`Что нужно для начала обучения? `, 'active')(class='active')
					p Для участия в обучении достаточно иметь компьютер с доступом в Интернет. Обучение будет проходить через браузер (лучше всего подойдет Google Chrome), никаких дополнительных программ заранее устанавливать не требуется. 

				+questionItem(`Какой уровень подготовки должен быть у слушателя? `)
					p Подготовка в сфере трейдинга не нужна, так как тренинг рассчитан на обучение с нуля. От Вас требуется общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео в YouTube, просматривать сайты и пользоваться онлайн-переводчиком, скачивать и устанавливать программы, регистрироваться на сайтах и устанавливать двухфакторную авторизацию. 


				+questionItem(`Какой минимальный депозит необходим для обучения? `)
					p Начать работать на рынке ОТС можно с любой суммы, как таковых минимальных ограничений нет. Рекомендуемый депозит для диверсифицированного портфеля составляет от 500 долларов. Вы также можете начать торговлю с 50$ первоначального депозита, при условии дальнейшего ежемесячного пополнения депозита на 50$ до тех пор, пока сумма не вырастет до рекомендуемой.
				+questionItem(`Сколько времени мне необходимо будет тратить на работу по Стратегии? `)
					p Работа по стратегии занимает не более 3-х часов в неделю в совокупности. Благодаря сигналам в терминале и отложенным ордерам, Вам не нужно тратить время на отслеживание графиков акций. А благодаря командной работе в мастер-группе, Вы можете пользоваться готовыми наработками команды и зарабатывать, просто повторяя действия коллег и пользуясь эффектом командной синергии. 

				+questionItem(`Какие дополнительные расходы потребуются во время обучения? `)
					p Никаких. Открывать ли реальный счёт и вносить ли на него деньги – Вы решаете сами. Это не обязательное условие для прохождения обучения. Покупать платные программы для анализа и т. п. не требуется. Всё, что нужно, мы дадим Вам во время обучения бесплатно. 


	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js&attributes(attributes)
		+e.header!= headerTxt 
			+e.before
		+e.content.q-content-js(class=contentClasses)
			block