
//- menu
mixin mnu()
	-
		var nav= {
			"Инструменты":"#sWorkingWith",
			"Стратегия":"#sWhatKnow",
			"Результаты":"#sHowMush",
			"Программа":"#sSteps2",
			"Автор":"#sAuthor", 
			}
	+b.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu